body {
  background-color: LightBlue ; 
  text-align: center;
   background-image: url('https://miro.medium.com/max/2800/1*7jDLREu-uME27nRvzwckBw.jpeg');
  backdrop-filter: blur(10px);
}
h1{
  font-family: arial;
  color: black;
}
h2{
  font-family: arial;
  color: black;
}
label{
  color: white;
}